{% block head %}
<!DOCTYPE HTML>
<html>
	<head>
		<script src="/static/js/jquery-3.4.1.min.js"></script>
	        <script src="/static/js/bootstrap.min.js"></script>
	        <link rel="stylesheet" href="/static/css/bootstrap4-neon-glow.min.css">
	        <link rel="shortcut icon" type="image/png" href="static/img/favicon.ico"/> 
		<title>Cookie Shower 1.0</title>
		<script>document.cookie = "IgnoreMe"</script>
	</head>
{% endblock %}
{% block content %}
<body>
	<h1>Just some default stuff</h1>
	<p>For the default page</p>
</body>
{% endblock %}
{% block footer %}
<footer class="pull-right">
	Copyright HybridGorilla 2019 ©
</footer>
{% endblock %}
</html>
