{% extends 'layout.html' %}

{% block content %}
<body>
	<div class="jumbotron">
		<h1>
			Cookie Thief v0.
			<span class="vim-caret">1</span>
			<blockquote class="blockquote blockquote-reverse">
				  <code class="mb-0">All warfare is based on deception.</code>
				    <footer class="blockquote-footer">Sun Tzu
					        <cite title="Source Title">The Art of War</cite>
						  </footer>
			</blockquote>
		</h1>
	</div>
	

	<div class="container">
		<h2>Nothing to see here... (yet)</h2>
		<hr>
	<script>
		$(document).ready(function(){
			$("button").click(function(){
				$('p').empty("#testList");
			});
		});
	</script>
	<form action="/clearDB">
		<button type="submit" class="btn-danger">Clear DB</button>
	</form>
	<hr>
	<button class="btn-danger">Clear Cookies</button>
	<hr>


		<div id="testCase01">
			<p id="testList"></p>
		</div>
		<hr>

	<script>
	(function poll() {
    	$.ajax({
        url: "/poll",
        type: "GET",
        success: function(data) {
		var container = $('#testList').empty();
		$.each(data, function(idx, elm) {
			var n = $('<p>' + elm.join(" - ") + '</p>');
			container.append(n);
		});
        },
        complete: setTimeout(function() {poll()}, 5000),
        timeout: 2000
    })
})();
	</script>

	</div>

</body>
{% endblock %}
